.header{
    background-color: #537188;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    
    ul {
      list-style: none;
      color:white;
      padding: 30px 20px;
    }
  
    ul li a{
      text-decoration: none;
      color: white;
    }
  }
  
  .footer{
    background-color: #537188;
    height: 8vh;
    color: white;
    text-align: center;
  }
  
  